@import url('https://fonts.googleapis.com/css2?family=Acme&family=Orienta&display=swap');
body{
    min-height: 100vh;
}
.aboutflex{
    
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .aboutflex :first-child {
   
    animation: spin 20s linear infinite;
    will-change: transform;
  }

.textitems{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Orienta", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 600px;
    
}



.firstp{
    font-size: 2.5rem;
    max-width: 600px;
    text-align: center;
}

.parentaboutflex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}