@import url('https://fonts.googleapis.com/css2?family=Acme&family=Orienta&display=swap');
body{
    min-height: 100vh;
    font-family: "Orienta", sans-serif !important;
}
.aboutflex{
    
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinbackwards {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

  .aboutflex :first-child {
   
    animation: spin 20s linear infinite;
    will-change: transform;
    
    
  }

.textitems{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Orienta", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 600px;
    
}



.firstp{
    font-size: 2.5rem;
    max-width: 600px;
    text-align: center;
}

.parentaboutflex{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    font-family: "Orienta", sans-serif;
    color: #747474;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.childaboutflex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-family: "Orienta", sans-serif;
    color: #747474;
}


.socialicon {
  font-size: 2em !important;
  transition: font-size 0.3s ease !important;
  text-decoration: none;
  color: #747474;
}

.socialicon:hover {
  font-size: 3em !important;
}




.secondflex{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    color: white;
    align-self: center !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    

}
