@keyframes showup {
    0% {opacity:0;}
    10% {opacity:0.1;}
    20% {opacity:0.2;}
    30% {opacity:0.3;}
    40% {opacity:0.4;}
    50% {opacity:0.5;}
    60% {opacity:0.6;}
    70% {opacity:0.7;}
    80% {opacity:0.8;}
    90% {opacity:0.9;}
    100% {opacity:1;}
}

@keyframes fadeout {
    0%, 43% {opacity:1;}
    57%, 100% {opacity:0;}
}

@keyframes slidein {
    0% { transform: translateX(-100%); }
    57% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

@keyframes dot {
    0%, 57% {opacity: 0;}
    71%, 86% {opacity: 1;}
    100% {opacity: 0;}
}

.text-container {
    animation: showup 7s infinite;
}

.search-container {
    display: inline-block;
    overflow: hidden;
}

.search {
    animation: slidein 7s infinite;
}

.dots-container {
    display: inline-block;
}

.dot {
    animation: dot 7s infinite;
    animation-fill-mode: forwards;
}

.dot1 {
    animation-delay: 6s;
}

.dot2 {
    animation-delay: 6.3s;
}

.dot3 {
    animation-delay: 6.8s;
}

.text-container{
    display: flex;
    gap: 0.5rem
}