body, html {
    margin: 0;
    padding: 0;
}
nav {
    padding-top: 0.5rem;
    padding-bottom: 5px;
    color: #747474;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

nav img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: width 0.3s ease;
}

nav img:hover{
    width: 70px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    
}

nav li {
    font-weight: bold;
    list-style: none;
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
    
    

}

nav li:hover{
    font-size: 2em;
}

nav li:first-child {
    margin-right: auto;
}

nav li:last-child {
    margin-right: 5rem;
}

nav li:not(:first-child){
    border: 1px solid rgb(187, 175, 175);
    padding: 10px;
    border-radius: 500px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

