

  .aboutcontainer{
    display: flex;
    flex-direction: column;
  }


.result-div {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}
.loaderskeleton {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}

.from-to-result {
    font-weight: bold;
    margin: 15px;
}

.secondary-data {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
}

.search-link {
    margin-left: 25px;
}

.searchbox {
    border-radius: 10px;
    margin-left: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.secondary-data {
    transition: color 0.3s ease, font-size 0.3s ease;
    align-items: baseline;
}

.secondary-data:hover {

    font-size: 1.5rem;
    text-align: center;
}


#modal-link, #modal-from, #modal-time, #modal-price {
    font-size: 1rem;
    transition: color 0.3s ease, font-size 0.3s ease;
    padding: 10px;
}

#modal-link:hover, #modal-from:hover, #modal-time:hover, #modal-price:hover {
    font-size: 2rem;
}


.footername-hover {
    transition: font-size 0.3s ease;
  }
  
  .footername-hover:hover {
    font-size: 1.5em; /* adjust as needed */
  }



.result-div {
    transition: transform 0.3s ease;
}

.result-div:hover {
    transform: scale(1.1);
}





.search-ui {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }

.parentBox{
    height: 600px;
    width: 600px;
    margin-bottom: auto;
    margin-top: 1rem;
}

.parentBox404{
    height: 600px;
    width: 600px;
    margin-top: 2rem;
    margin-left: 14rem;
    
    
}
.first-image404, .second-image404, .third-image404, .fourth-image404{
    width:300px
}
  


.first-image, .second-image, .third-image, .fourth-image{
    width:300px
}
  
  @media screen and (max-width: 750px) {
    
    .search-ui {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .result-head img {
        width: 300px;
        height: 300px;
    }
    .searchbox-outer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .parentBox{
        height: 600px;
        width: 600px;
        margin-left: 12rem;
        
        margin-top: 5rem;
        
    }
    
    .page404{
        box-sizing: border-box;

    }
    .first-image, .second-image, .third-image, .fourth-image{
        width:300px
    }
      
    .parentBox404{
        height: 400px;
        width: 400px;
       margin-right: 8rem;
        
        
    }
    .img404{
        height: 65%;
    }
    .first-image404, .second-image404, .third-image404, .fourth-image404{
        width:200px
    }
      
  }

